@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap");

:root {
	--main-color: #193094;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Goldman", sans-serif;
	scroll-behavior: smooth;
}

h1,
h2,
h3 {
	color: var(--main-color);
	margin: 0 1vw;
	text-align: center;
}

a {
	color: white;
	text-decoration: none;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: var(--main-color);
	padding: 0 3vw;
	width: 100%;
	height: 80px;
	position: fixed;
}

nav > a > img {
	width: 110px;
	filter: drop-shadow(2px 2px 2px black);
}

nav > ul {
	font-weight: 700;
}

nav > ul > li {
	list-style-type: none;
	display: inline;
	margin: 0 10px;
}

div {
	height: 1500px;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url("../images/banner.jpg");
	background-size: cover;
	background-position: center;
	height: 400px;
	padding-top: 80px;
}

main > a {
	background-color: var(--main-color);
	padding: 12px;
	border-radius: 6px;
}

@media only screen and (max-width: 700px) {
	nav > a > img {
		width: 80px;
	}

	nav > ul > li {
		font-size: 0.6rem;
		margin: 0 8px;
	}
}
div > a {
	/* Quem somos */

position: absolute;
width: 1080px;
height: 1063px;



/* Background */

position: absolute;
width: 1080px;
height: 1063px;

background: #FFFFFF;


/* Quem Somos? */

position: absolute;
width: 412px;
height: 30px;

font-family: Goldman;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;
text-align: center;

color: #193094;



/* 24 / basic / user */

position: absolute;
width: 172px;
height: 172px;



/* icon-sobre-nós */

position: absolute;
left: 4.17%;
right: 4.17%;
top: 4.17%;
bottom: 4.17%;

background: #193094;


/* Subtract */

position: absolute;
width: 157.67px;
height: 157.67px;
left: 7.17px;
top: 7.17px;

background: #DADADA;


/* Union */

position: absolute;
width: 157.67px;
height: 157.67px;
left: 7.17px;
top: 7.17px;

background: #DADADA;


/* Subtract */

position: absolute;
width: 157.67px;
height: 157.67px;
left: 7.17px;
top: 7.17px;

background: #DADADA;


/* Path */

position: absolute;
left: 4.17%;
right: 4.17%;
top: 4.17%;
bottom: 4.17%;



/* Path */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;



/* Path */

position: absolute;
left: 33.33%;
right: 33.33%;
top: 25%;
bottom: 37.5%;



/* Path */

position: absolute;
left: 41.67%;
right: 41.67%;
top: 33.33%;
bottom: 45.83%;



/* Path */

position: absolute;
left: 16.77%;
right: 16.77%;
top: 62.5%;
bottom: 16.67%;



/* explore_24px */

position: absolute;
width: 172px;
height: 172px;



/* icon/action/explore_24px */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

background: #193094;


/* Path */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

background: #DADADA;


/* Path */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 16.67%;
bottom: 16.67%;

background: #DADADA;


/* Path */

position: absolute;
left: 27.08%;
right: 27.08%;
top: 27.08%;
bottom: 27.08%;

background: #DADADA;


/* Path */

position: absolute;
left: 45.42%;
right: 45.42%;
top: 45.42%;
bottom: 45.42%;

background: #DADADA;


/* remove_red_eye_24px */

position: absolute;
width: 172px;
height: 172px;



/* icon/image/remove_red_eye_24px */

position: absolute;
left: 4.17%;
right: 4.17%;
top: 18.75%;
bottom: 18.75%;

background: #193094;


/* Path */

position: absolute;
left: 13.25%;
right: 13.25%;
top: 27.08%;
bottom: 27.08%;

background: #DADADA;


/* Path */

position: absolute;
left: 4.17%;
right: 4.17%;
top: 18.75%;
bottom: 18.75%;

background: #DADADA;


/* Path */

position: absolute;
left: 39.58%;
right: 39.58%;
top: 39.58%;
bottom: 39.58%;

background: #DADADA;


/* Path */

position: absolute;
left: 31.25%;
right: 31.25%;
top: 31.25%;
bottom: 31.25%;

background: #DADADA;


/* Sobre nós */

position: absolute;
width: 130px;
height: 44.71px;

font-family: Goldman;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;
text-align: center;

color: #193094;



/* Sobre nós Texto */

position: absolute;
width: 682px;
height: 318px;

font-family: Goldman;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
text-align: justify;

color: #343A40;



/* Missão */

position: absolute;
width: 94px;
height: 28px;

font-family: Goldman;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;
text-align: justify;

color: #193094;



/* Missão Texto */

position: absolute;
width: 675px;
height: 62.59px;

font-family: Goldman;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
text-align: justify;

color: #343A40;



/* Visão */

position: absolute;
width: 77px;
height: 21px;

font-family: Goldman;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;
text-align: justify;

color: #193094;

/*Visão texto*/

position: absolute;
width: 660px;
height: 71px;

font-family: Goldman;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
text-align: justify;
color: #343A40;
}