@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap");

:root {
	--main-color: #193094;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Goldman", sans-serif;
	scroll-behavior: smooth;
}

h1,
h2,
h3 {
	color: var(--main-color);
	margin: 0 1vw;
	text-align: center;
}

a {
	color: white;
	text-decoration: none;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: var(--main-color);
	padding: 0 3vw;
	width: 100%;
	height: 80px;
	position: fixed;
}

nav > a > img {
	width: 110px;
	filter: drop-shadow(2px 2px 2px black);
}

nav > ul {
	font-weight: 700;
}

nav > ul > li {
	list-style-type: none;
	display: inline;
	margin: 0 10px;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url("../images/banner.jpg");
	background-size: cover;
	background-position: center;
	height: 400px;
	padding-top: 80px;
}

main > a {
	background-color: var(--main-color);
	padding: 12px;
	border-radius: 6px;
}
.quem-somos-item {
	Display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-flow: row nowrap;
	justify-content: space-between;	
	align-items: stretch;
	align-content: flex-start;
	flex-grow: 0;
	flex-basis: 0px;
	align-self: flex-start;
}
.missão{
	Display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-flow: row nowrap;
	justify-content: space-between;	
	align-items: stretch;
	align-content: flex-start;
	flex-grow: 0;
	flex-basis: 0px;
	align-self: flex-start;
}
.visão{Display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-flow: row nowrap;
	justify-content: space-between;	
	align-items: stretch;
	align-content: flex-start;
	flex-grow: 0;
	flex-basis: 0px;
	align-self: flex-start;
}

@media only screen and (max-width: 700px) {
	nav > a > img {
		width: 80px;
	}

	nav > ul > li {
		font-size: 0.6rem;
		margin: 0 8px;
	}
}


/* precisa ser revisada pra ver se tem algum erro */

/* serviços */
.servicos-content{
	display:flex;
	height: 500px;
	text-align: center;
	align-items:center;
}


/*endereço */ 

*.mapa-classe {
	display:flex;
	height: 600px;
	justify-content: center;
	align-items:center;
}

.mapa {
	display:flex;
}

.mapa-content{
	float:right;
	margin-left: 15px;
}


/*titulos */
.title{
	margin-top: 40px;
}

/* borda azul */
hr.divisoriasolida {
	color: #193094;
	border-top: 1px solid #193094;
}

/* parte do formulario */

#formulario {
	height: 600px;
}

label {
	padding: 12px 12px 12px 0;
	display: inline-block;
  }

.form-content {
	border-radius: 5px;
	/*background-color: #f2f2f2;*/
	padding: 20px;
  }

  input[type=text], textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  border-color: #193094;
  box-sizing: border-box;
  resize: vertical;
}

#descricao {
	height: 200px;
}

/* footer */
.footer {
	display: flex;
	flex-direction: column;
	height: 200px;
	justify-content: center;
	background-color: #193094;
	text-align:center;
}

.rodape-information{
	color:white;
}


/*botão */
.enviar-buttom{
	justify-content: center;
	color: white;
	background-color: #193094;
	font-size: 16px;
	padding: 14px 40px;
	border-radius: 12px;
	width: 250px;
	transition: 0.5s;
	border-color: #193094;
	align-items: center;

}

.enviar-buttom:hover {
	background-color:white;
	color: #193094;
}

.form-buttom {
	display:flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 120px;;
}





