@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap");

:root {
	--main-color: #193094;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Goldman", sans-serif;
	scroll-behavior: smooth;
}

h1,
h2,
h3 {
	color: var(--main-color);
	margin: 0 1vw;
	text-align: center;
}

a {
	color: white;
	text-decoration: none;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: var(--main-color);
	padding: 0 3vw;
	width: 100%;
	height: 80px;
	position: fixed;
}

nav > a > img {
	width: 110px;
	filter: drop-shadow(2px 2px 2px black);
}

nav > ul {
	font-weight: 700;
}

nav > ul > li {
	list-style-type: none;
	display: inline;
	margin: 0 10px;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url("../images/banner.jpg");
	background-size: cover;
	background-position: center;
	height: 400px;
	padding-top: 80px;
}

main > a {
	background-color: var(--main-color);
	padding: 12px;
	border-radius: 6px;
}

@media only screen and (max-width: 700px) {
	nav > a > img {
		width: 80px;
	}

	nav > ul > li {
		font-size: 0.6rem;
		margin: 0 8px;
	}
}
